<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LEASY HOMEPAGE</title>
</head>

<style>
	body{
		margin: 0px;
		padding: 0px;
		background: url(wallpaperflare.com_wallpaper.jpg) ;
		background-repeat: no-repeat;
		background-size: 1668px 647px;
		color: white;
	}
	.left
	{
		position: absolute;
		top: 0px;
		left: 31px;
		display: inline-block;
	}
	.mid
	{
		position: static;
		left: 30px;
		display: block;
		width: 40%;
		margin-left: 80px;
		margin-top: 10px;

	}
	.right
	{
		position: absolute;
		top: 0px;
		right: 40px;
		display: block;
	}
	.navbar
	{
		display: inline-block;
	}
	.navbar li
	{
		display: inline-block;
	}
	.navbar li a{
		color: white;
		text-decoration: none;
		padding: 30px 30px;
		font-size: 20px;
	}
	.navbar li a:hover, .navbar li a.active
	{
		text-decoration: underline;
		color: #ffcc3e;
	}
	.left img
	{
		width: 100px;
	}
	.right img
	{
		width: 55px;
	}
	.chota
	{
		margin: 88px 0px;
		padding: 40px;
		width: 40%;
		border-radius: 25px;
	}
	.formgroup input
	{
		text-align: center;
		display: block;
		width: 450px;
		padding: 1px;
		margin: 3px auto;
		font-size: 15px;
		border-radius: 8px;
	}
	.chota h1
	{
		text-align: center;
		color: #ffcc3e;
	}
	.chota button
	{
		display: block;
		width: 88%;
		margin: 15px auto;
		border-radius: 8px;
		background-color: #ffcc3e;
		cursor: pointer;
	}
</style>
<body>
	<header class="head">
		<div class="left">
			<img src="leasy.png">
		</div>
		<div class="mid">
			<ul class="navbar">
				<li><a href="#">Home</a></li>
				<li><a href="#">Hire</a></li>
				<li><a href="#">Apply</a></li>
				<li><a href="#">About us</a></li>
			</ul>
		</div>
		<div class="right">
			<a href="#">
				<img src="Screenshot (66).png">
			</a>
		</div>
	</header>
	<div class="chota">
		<h1>Join LEASY Now!</h1>
		
			
			
	</div>

</body>
</html>